<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="docc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://errortracking.terrasynq.net/ErrorTracking.svc"
                binding="basicHttpBinding" bindingConfiguration="docc" contract="ErrorSynq.Tracking.IErrorTrackingService"
                name="docc" />
        </client>
    </system.serviceModel>
</configuration>